<template>
  <q-page class="flex flex-center">
    <div>
      <div id="imagen">
      <img class="img__header" src="https://swapi.finnian.app/static/img/logo.27ffdd2.png" alt="">
      </div>
      <form class="contenido" @submit.prevent='pedirPersonajes ()'>
        <q-select
        v-model="selectedEntity"
        float-label='Select one'
        :options="entitySelectOptions"
        />
        <q-input v-model="query" @on='pedirPersonajes ()'/>
      </form>
    </div>
    <div>
      <div v-if='items.length > 0' class="resultados">
        <q-card v-for='(item,index) in items' :key='index'>
          <q-card-title class="titulo">
            {{ item.name }}
            {{ item.title }}
          </q-card-title>
          <q-card-separator></q-card-separator>
          <q-card-main>
            Eye Color: {{ item.eye_color }}
            <br>
            Rotation Period: {{ item.rotation_period }}
            <br>
            Diameter: {{ item.diameter }}
            <br>
            Director: {{ item.director }}
            <br>
            Classification: {{ item.classification }}
          </q-card-main>
        </q-card>
      </div>
    </div>
  </q-page>
</template>

<style>
  #imagen {
    margin: 0 auto;
    display: block;
    width: 100%;
    text-align: center;
  }
  .titulo {
    font-size: 17px;
    color: yellow;
    border-bottom: 1px solid white;
  }
  .resultados {
    text-align: center;
    padding: 4px;
    width: 400px;
    height: 200px;
    margin: 0 auto;
    display: block;
    margin-top: 90px;
    margin-left: 40px;
    background: black;
    color: white;
    border: 1px solid yellow;
  }
  .contenido {
    margin: 0 auto;
    display: block;
    text-align: center;
  }
</style>

<script>
export default {
  data () {
    return {
      items: [],
      query: null,
      selectedEntity: 'people',
      entitySelectOptions: [
        {
          label: 'Películas',
          value: 'films'
        },
        {
          label: 'Personajes',
          value: 'people'
        },
        {
          label: 'Planetas',
          value: 'planets'
        },
        {
          label: 'Especies',
          value: 'species'
        },
        {
          label: 'Naves',
          value: 'starships'
        },
        {
          label: 'Vehículos',
          value: 'vehicles'
        }
      ]
    }
  },
  methods: {
    pedirPersonajes () {
      const entity = this.selectedEntity
      const query = this.query
      const url = 'https://swapi.co/api/' + entity + '/?search=' + query
      this.$axios.get(url)
        .then((res) => {
          this.items = res.data.results
          console.log(res.data.results)
        })
        .catch((error) => {
          console.log('Algo malo pasó', error)
        })
    }
  }
}

</script>
